</section>
<section id="secao3">
    <div class="visite">
        <h2>Visite-nos</h2>
        <p>Venha conhecer nossa loja.</p>
        <p>Rua Abilio Pedro Ramos, 923 - Vila Nilo - São Paulo-SP, 02279-000</p>
        <p><span class="material-symbols-outlined">
            phone_in_talk
            </span> (11) 2023-2715</p>
        <p><img src="#" alt="">(11) 2638-3928</p>
        <p><img src="#" alt="">(11) 95328-0431</p>
    </div>
    <div class="visite" id="destk-home">
        <h2>Destaques</h2>
        <ul>
            <li>
                <h3>Jeep Renegade longitude T270</h3>
                <P>ano modelo cor</P>
            </li>
            <li>
                <h3>Jeep Renegade longitude T270</h3>
                <P>ano modelo cor</P>
            </li>
            <li>
                <h3>Jeep Renegade longitude T270</h3>
                <P>ano modelo cor</P>
            </li>
            <li>
                <h3>Jeep Renegade longitude T270</h3>
                <P>ano modelo cor</P>
            </li>
            <li>
                <h3>Jeep Renegade longitude T270</h3>
                <P>ano modelo cor</P>
            </li>
        </ul>
    </div>
    <div id="redes" class="visite">
        <h2>Redes Sociais</h2>
        <a target="_blank" href="https://www.instagram.com/veiculosvgr/"><img src="/images/instagram-40P.png" alt=""></a>
        <a class="testerede" target="_blank" href="https://www.facebook.com/vgrmultimarcas"><img id="imgface" src="/images/facebook-13P.png" alt="facebook icone"></a>
        <a target="_blank" href="https://wa.me/5511963591532"><img src="/images/whatsapp-33P.png" alt=""></a>
    </div>
</section>

<footer>
    <nav><a href="/">Home</a></nav>
    <div id="rdape">Desenvolvido por @liveira2023 (11)96359-1532</div>
</footer>