<header>
    <nav id="menuList">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/veiculoSelecionado">Localização/VS</a></li>
            <li><a href="/veiculos">Veículos</a></li>
            <li><a href="contato.html">Contato</a></li>
        </ul>
    </nav>
</header>