<header>
    <nav id="menuList">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/localizacao">Localização/VS</a></li>
            <li><a href="/veiculos">Veículos</a></li>
            <li><a href="/contato">Ficha Compra/Venda</a></li>
        </ul>
    </nav>
</header>