<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>veiculosVGR</title>
    <link rel="icon" href="/images/favicon2.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- #F7941D   -->
    <style>
        
        @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poltawski+Nowy:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sriracha&display=swap');
      </style>
</head>
<body>
    
    <%- include("includes/header") -%>

    <div id= "bemvindos">
        <h1>Bem-vindos a <span class="vgr">VGR</span> veículos</h1>
        
    </div>
    <div id="galleria">
        <div class="gallery">
            <a target="_blank" href="/images/fiesta20.jpg">
                <img src="/images/fiesta20.jpg" alt="foto fiesta">
            </a>
            <p class="descrip"><b>Chevrolet Fiesta</b><br>
                1.2 Turbo Premier<br>
                Automático 72.085km<br>
                <br>
                R$ 52.490<br>
                <span class="corte-preço">R$ 128.990</span>
            </p>
        </div>
        <div class="gallery">
            <a target="_blank" href="/images/fiesta20.png">
                <img src="/images/fiesta20.jpg" alt="foto fiesta">
            </a>
            <p class="descrip"><b>Chevrolet ONIX 2019</b><br>
                1.0 Flex LT<br>
                Manual 32.500km<br>
                <br>
                R$ 122.490<br>
                <span class="corte-preço">R$ 128.990</span>
            </p>
        </div>
        <div class="gallery">
            <a target="_blank" href="/images/fiesta20.jpg">
                <img src="/images/fiesta20.jpg" alt="foto fiesta">
            </a>
            <p class="descrip"><b>Ford FIESTA</b><br>
                1.6 TI-Flex TITANIUM<br>
                AUTOMATICO 72.085km<br>
                <br>
                R$ 122.490<br>
                <span class="corte-preço">R$ 128.990</span>
            </p>
        </div>
        <div class="gallery">
            <a target="_blank" href="/images/fiesta20.jpeg">
                <img src="/images/fiesta20.jpg" alt="foto fiesta">
            </a>
            <p class="descrip"><b>Chevrolet TRACKER</b><br>
                1.2 Turbo Premier<br>
                Automático 72.085km<br>
                <br>
                R$ 122.490<br>
                <span class="corte-preço">R$ 128.990</span>
            </p>
        </div>
        <div class="gallery">
            <a target="_blank" href="/images/onix-lt2019v1.png">
                <img src="/images/fiesta20.jpg" alt="foto fiesta">
            </a>
            <p class="descrip"><b>Chevrolet ONIX 2019</b><br>
                1.0 Flex LT<br>
                Manual 32.500km<br>
                <br>
                R$ 122.490<br>
                <span class="corte-preço">R$ 128.990</span>
            </p>
        </div>
        <div class="gallery">
            <a target="_blank" href="/images/fiesta20.jpg">
                <img src="/images/fiesta20.jpg" alt="foto fiesta">
            </a>
            <p class="descrip"><b>Ford FIESTA</b><br>
                1.6 TI-Flex TITANIUM<br>
                AUTOMATICO 72.085km<br>
                <br>
                R$ 122.490<br>
                <span class="corte-preço">R$ 128.990</span>
            </p>
        </div>
    </div>
    

    <section id="video-principal">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ghysk8_Yl2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>

    <section id="apresenta">

        <div>
        <h2 id="qsomos">Quem somos</h2>
        <p>
            A VGR Veículos é uma revendedora de carros usados localizada no Jaçanã, São Paulo - SP. A empresa tem uma página no Facebook com o nome de VGR Multimarcas³. Além disso, a empresa está cadastrada na Receita Federal sob o CNAE 4511-1/02 com atividade fim de Comércio A Varejo De Automóveis.
        </p>
        </div>
        <div id="nossa-historia">
        <h2>Nossa história </h2>

        <p>é uma loja tradicional no ramo de veículos, trabalhamos sempre focados na satisfação dos nossos clientes.

            Mantendo sempre um estoque atualizado e com veículos de qualidade, buscamos oferecer uma grande variedade de carros para escolha de nossos clientes.</p>
        
    <%- include("includes/footer") -%>

</body>
</html>